{# templates/emails/product.html.twig #}
<h1>The product: {{ product.title }} has been {{ action }}!</h1>

<p>
    Please see the updated details:
</p>

<p><strong>Title: </strong> <span>{{ product.title }}</span></p>
<p><strong>Price: </strong><span>{{ product.price }}</span></p>
<p><strong>EId: </strong><span>{{ product.eId }}</span></p>
